<div class='container'>
  <div class='row'>
    <div class='col-md-8 offset-md-2'>
      <ul class='list-group'>
      <% @contacts.each do |contact| %>
        <li class='list-group-item contact'>
          <p class='contact-name'>
            <%= contact.name %>
            (<%= contact.email %>)
          </p>
          <p class='contact-actions'>
            <% if policy(contact).edit? %>
              <%= link_to "Edit", edit_contact_path(contact), class: 'btn btn-info' %>
            <% end %>
            <% if policy(contact).destroy? %>
              <%= link_to "Delete", contact_path(contact), class: 'btn btn-warning', method: :delete, data: { confirm: "Are you sure?"} %>
            <% end %>
          </p>
        </li>
      <% end %>
      <%= link_to "Add A New Contact", new_contact_path, class: 'btn btn-primary' %>
      <%= link_to "Send an Sos", sos_path, class: 'btn btn-outline-danger' %>
      </ul>
    </div>
  </div>
</div>